body {
    background-color: gray;
  }

  .header-basic-pokemon {
    font-size: 9px;
    font-weight: 600;
    /* span all the way across the card */
    grid-column-start: 1;
    grid-column-end: 7;
  }